<h1>Users#new</h1>
<%= bootstrap_form_for(@user) do |u| %> 
	<%= u.email_field :email %> 
	<%= u.password_field :password %> 
	<%= u.password_field :password_confirmation %> 
	<%= u.submit %> 
	<% end %>  