<!DOCTYPE html>
<html>
<head>
  <title>ComBox</title>
  <%= stylesheet_link_tag  'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header_wrapper">
	<div class="logo">
	<%= link_to "Combox", root_url %> 
	</div>

	<div id = "login_user_status">
		<% if @current_user %> 
		<%=link_to "Sign out", destroy_session_path %> 
		<% else %> 
			<em>Not Signed in</em>
			<%= link_to "sign in", new_user_path %> 
			or 
			<%= link_to "sign up", new_session_path %> 
		<% end %> 
	</div>		

</div>

<%= yield %>

</body>
</html>
