<!DOCTYPE html>
<html>
<head>
  <title>ComBox</title>
  <%= stylesheet_link_tag  'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header_wrapper">
	<div class="logo">
	<%= link_to "Combox", root_url %> 
	</div>

	<div id = "login_user_status">
		<% if current_user   %> 
		<%= @current_user.email %> 
		<%=link_to "Sign out", new_session_path, method: :delete %> 
		<% else %> 
			<em>Not Signed in</em>
			<%= link_to "sign in", new_session_path %> 
			or 
			<%= link_to "sign up", new_user_path %> 
		<% end %> 
		<%=link_to "Add Asset", new_asset_path, class: "btn btn-primary btn-lg" %>
		</div>


		</div>
	</div>		

</div>

<%= yield %>

</body>
</html>
